# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# *core
# C extensions
*.so
*.npy
*.png
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
data/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
models/
# *core*
*.h5
# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
core*/
.idea/
# Sphinx documentation
docs/_build/
